rebaseMergeAllowed: true
squashMergeAllowed: true
mergeCommitAllowed: false
branchProtectionRules:
- pattern: main
  isAdminEnforced: false
  requiredStatusCheckContexts:
    - 'conventionalcommits.org'
    - 'CI (macos-latest, 3.2)'
    - 'CI (ubuntu-latest, 2.6)'
    - 'CI (ubuntu-latest, 2.7)'
    - 'CI (ubuntu-latest, 3.0)'
    - 'CI (ubuntu-latest, 3.1)'
    - 'CI (ubuntu-latest, 3.2)'
    - 'CI (windows-latest, 3.2)'
    - 'cla/google'
  requiredApprovingReviewCount: 1
  requiresCodeOwnerReviews: true
  requiresStrictStatusChecks: true
permissionRules:
  - team: actools
    permission: admin
  - team: ruby-admins
    permission: admin
  - team: ruby-team
    permission: push
